.logo {
  width: auto;
  height: 60px;
}
.wrapper_logo{
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}
.wrapper_logo_text{
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-left: 10px;
  color: #32404d;
}
.main_header {
  background-color: #32404d;
  padding: 13px 0px;
  border: 1px solid #d3d5e2;
  display: flex;
  justify-content: center;
}

.main_header_content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.header_info_left {
  margin-right: 100px;
  display: inline-block;
}

.header_info_right {
  display: flex;
  align-items: center;
}

.header_info_right_text {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  margin-left: 30px;
  transition: all 0.3s ease-in-out;
}

.header_info_right_text:hover {
  letter-spacing: 1px;
}

.header_info_right_text::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
  bottom: -7px;
}

.header_bottom_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  /* min-width: 1296px; */
}

.menu_container {
  display: flex;
  margin-left: 40px;
}

.menu_item {
  display: block;
  color: #32404d;
  font-size: 18px;
  font-family: "Chivo", sans-serif;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding: 0px 11px;
  text-decoration: none;
}

.menu_item:hover {
  color: #007a5c;
}

.header_right_container {
  display: flex;
  align-items: center;
}

.call_us {
  padding: 20px 0px;
  font-family: "Chivo", sans-serif;
  color: #007a5c;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  margin-right: 20px;
}

.phone_number {
  font-family: "Chivo", sans-serif;
  color: #32404d;
  font-size: 16px;
  line-height: 1;
  border-right: 2px solid #e4e8f2;
  padding-right: 20px;
}

.social_icon_wrapper {
  width: fit-content;
  height: fit-content;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.social_icon_wrapper:hover {
  transform: rotateY(180deg);
}

.header_area {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100000;
  background-color: #fff;
  box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
}

.blog_link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -35px;
  left: 0;
  width: 100%;
  height: 35px;
  background-color: transparent;
}

.blog_option_wrapper {
  position: absolute;
  width: 170px;
  bottom: -130px;
  left: 0;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
  padding: 17px 0px;
  background-color: #fff;
}

.blog_option {
  padding: 0 11px;
  height: 32px;
  display: block;
  text-decoration: none;
}

.blog_option:hover .blog_option_text {
  color: #007a5c;
}

.blog_option_text {
  padding: 6px 10px !important;
  font-size: 17px;
  color: #32404d;
  font-weight: 400;
  text-transform: capitalize;
  text-decoration: none;
}

.social_wrapper {
  display: flex;
  gap: 5px;
}

@media screen and (max-width: 1296px) {
  .header_bottom_container {
    min-width: 100%;
  }
}

@media screen and (max-width: 1199.98px) {
  .call_us {
    display: none;
  }
}

@media screen and (max-width: 991.98px) {
  .menu_container {
    display: none;
  }
}
@media screen and (max-width: 575.98px) { 
  .social_wrapper {
    display: none;
  }
 }