.heading {
  position: relative;
  background-color: #fcf2eb;
  background-image: url("/images/header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 350px;
  display: flex;
  align-items: center;
  width: 100%;
}

.heading::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  background-color: rgba(50, 64, 77, 0.3);
  background-repeat: no-repeat;
}

.heading_content {
  display: flex;
  flex-direction: column;
  /* padding-left: 10%; */
  gap: 6px;
  /* max-width: 28%; */
}

.heading_content_wrapper {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  max-width: 40%;
  z-index: 1;
}

.heading_title {
  color: #fff;
  font-size: 54px;
  font-weight: 900;
  line-height: 1.4;
}

.heading_description {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
}

@media screen and (max-width: 1400px) {
  .heading_content {
    max-width: 50%;
  }

  .heading_content_wrapper {
    max-width: 75%;
  }
}

@media screen and (max-width: 1200px) {
  .heading_content {
    width: 58.3333333333%;
  }

  .heading_content_wrapper {
    max-width: 88%;
  }
}

@media screen and (max-width: 991.98px) {
  .heading_content {
    width: 75%;
  }

  .heading_content_wrapper {
    max-width: 100%;
  }
}

@media screen and (max-width: 767.98px) {
  .heading_content {
    width: 100%;
  }
}
