.top_stories {
  align-items: flex-start;
}

.content_title {
  color: #32404d;
  font-weight: 900;
  line-height: 1.2;
  text-transform: uppercase;
}

.content_description {
  color: #777777;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 20px;
}

.top_stories_wrapper {
  padding: 0px 50px;
  text-align: center;
}

.top_stories_content {
  display: flex;
  gap: 1.5rem;
  align-items: flex-start;
  flex-wrap: wrap;
}

.top_stories_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 31.3333333%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative; /* Để định vị tuyệt đối cho phần text */
  overflow: hidden; /* Giữ cho phần text không tràn ra ngoài card */
  background-color: #fff; /* Màu nền trắng cho card */
}

.top_stories_item:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.top_stories_item_img {
  width: 100%;
  height: 450px;
  position: relative;
  object-fit: cover;
  transition: transform 0.3s ease, filter 0.3s ease; /* Thêm hiệu ứng chuyển đổi cho filter */
}

.top_stories_item:hover .top_stories_item_img {
  transform: scale(1.1);
  filter: brightness(0.6); /* Làm tối ảnh khi hover */
}

.top_stories_item_content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5); /* Màu nền đen trong suốt cho phần text */
  color: #fff; /* Màu chữ trắng cho phần text */
  opacity: 0; /* Ẩn phần text ban đầu */
  transform: translateY(100%); /* Di chuyển phần text xuống dưới ban đầu */
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.top_stories_item:hover .top_stories_item_content {
  opacity: 1;
  transform: translateY(0);
}

.top_stories_item_title {
  font-size: 20px; /* Tăng kích thước font */
  font-weight: 700; /* Tăng độ đậm */
  color: #fff; /* Màu chữ trắng */
  margin-bottom: 8px; /* Tăng khoảng cách với occupation */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Thêm hiệu ứng đổ bóng cho chữ */
}

.top_stories_item_occupation { /* Thêm class cho occupation */
  font-size: 16px; /* Tăng kích thước font */
  color: #ddd; /* Màu chữ xám nhạt */
  margin-bottom: 15px; /* Tăng khoảng cách với description */
}

.top_stories_item_description { /* Thêm class cho description */
  text-align: left;
  margin-top: 15px;
  font-size: 14px;
  line-height: 1.6;
  color: #eee; /* Màu chữ xám nhạt hơn */
  opacity: 0.8; /* Giảm độ mờ */
}

.top_stories_item_description ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.top_stories_item_description li {
  margin-bottom: 5px;
  padding-left: 20px;
  position: relative;
}

.top_stories_item_description li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 9px; /* Điều chỉnh vị trí dấu chấm */
  width: 6px; /* Giảm kích thước dấu chấm */
  height: 6px;
  background-color: #ccc; /* Màu xám nhạt cho dấu chấm */
  border-radius: 50%;
}

.content_wrapper {
  width: 100%;
  padding: 100px 0px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 991.98px) {
  .top_stories_wrapper {
    padding: 0 10px;
  }

  .top_stories_item {
    width: 48%;
  }
}

@media screen and (max-width: 575px) {
  .top_stories_content {
    gap: 30px;
  }

  .top_stories_item_title {
    padding: 0;
    padding-top: 20px;
  }

  .top_stories_item {
    width: 100%;
  }
}