.top_stories {
    align-items: flex-start;
  
  }
  
  .top_stories_wrapper{
    padding: 0px 50px;
  }
  
  .top_stories_content {
    display: flex;
    gap: 1.5rem;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .top_stories_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 31.3333333%;
  }
  
 

  .top_stories_item:hover .top_stories_item_title {   
    color: #007A5C;
  }

  .top_stories_item_img {
    width: 100%;
    height: initial;
    position: relative;
    object-fit: cover;
  }
  
  .top_stories_item_title {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    text-transform: none;
    text-align: center;
    max-width: 500px;
    padding: 26px 18px 8px 22px;
  }
  
  .content_wrapper {
    width: 100%;
    padding: 100px 0px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media screen and (max-width: 991.98px) {

    .top_stories_wrapper {
      padding: 0 10px;
    }

    .top_stories_item {
      width: 48%;    
    }
  }

  @media screen and (max-width: 575px) {

    .top_stories_content {
      gap: 30px ;
    }
    
    .top_stories_item_title {
      padding: 0;
      padding-top: 20px;
    }

    .top_stories_item {
      width: 100%;    
    }

  }