.blog_container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.blogs_wrapper {
  display: flex;
  padding: 50px 0px;
  width: 90%;
  gap: calc(var(--bs-gutter-x));
  flex-direction: column; /* Mặc định là cột trên thiết bị nhỏ */
  align-items: center; /* Căn giữa nội dung theo chiều ngang */
}

.blogs {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.blog_item {
  display: flex;
  width: 100%;
  flex-direction: column; /* Mặc định là cột trên thiết bị nhỏ */
  align-items: center; /* Căn giữa nội dung theo chiều ngang */
}

.blog_content_wrapper {
  padding: 20px;
  box-shadow: 0px 10px 20px 0px rgba(221, 221, 221, 0.3);
  order: 2;
  width: 100%;
  max-width: 600px; /* Tăng max-width để content rộng hơn */
  text-align: center;
}

.blog_img {
  width: 100%;
  max-width: 700px; /* Tăng max-width để ảnh to hơn */
  height: auto;
  transition: transform 0.3s ease;
  object-fit: cover;
  border-radius: 8px;
}

.blog_img_wrapper {
  position: relative;
  order: 1;
}

.blog_img_wrapper:hover .blog_img {
  transform: scale(1.05);
}

.blog_date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -10px;
  left: 10px;
  color: #fff;
  background-color: #007a5c;
  padding: 8px 15px;
  border-radius: 5px;
}

.blog_date_text {
  font-style: normal;
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0;
  line-height: 1.2;
}

.blog_month_text {
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 0;
  color: #fff;
  font-size: 18px;
}

.blog_date:hover {
  background-color: transparent;
}

.blog_date:hover .blog_date_text {
  color: #007a5c;
}

.blog_title {
  color: #2d2d2d;
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 600;
  cursor: pointer;
}

.blog_title:hover {
  color: #007a5c;
}

.blog_description {
  color: #5d646a;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 30px;
}

.blog_info_link {
  display: flex;
  width: fit-content;
  height: fit-content;
  align-items: center;
}

.link_text {
  color: #999999;
  font-size: 14px;
  margin-right: 5px;
  font-weight: normal;
  line-height: 1.5;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.divider {
  content: "";
  width: 0px;
  height: 12px;
  /* height: 100%; */
  border: 1px solid #999999;
  margin: 0 10px;
}

.blog_pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 1px;
}

.page_item {
  font-size: 14px;
  position: relative;
  display: block;
  padding: 0;
  text-align: center;
  margin-left: -1px;
  line-height: 45px;
  width: 45px;
  height: 45px;
  border-radius: 0 !important;
  color: #8a8a8a;
  border: 1px solid #f0e9ff;
  margin-right: 10px;
  text-decoration: none;
  transition: 0.4s;
  background-color: #fff;
  outline: medium none;
  cursor: pointer;
}

.page_item_wrapper:hover .page_item {
  background: -webkit-linear-gradient(131deg, #007a5c 0%, #007a5c 99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  transition: 0.4s;
}

@media screen and (min-width: 768px) {
  .blogs_wrapper {
    flex-direction: row;
    width: 80%;
    padding: 100px 0px;
    justify-content: center; /* Căn giữa nội dung theo chiều ngang */
  }

  .blogs {
    gap: 50px;
  }

  .blog_item {
    flex-direction: row;
    align-items: flex-start;
    width: 100%; /* Chiếm toàn bộ chiều rộng container cha */
    justify-content: space-between; /* Phân bố đều khoảng trống giữa ảnh và content */
  }

  .blog_content_wrapper {
    width: 50%;
    max-width: 500px;
    padding: 30px;
    text-align: left;
  }

  .blog_img {
    width: 75%;
    max-width: 500px;
  }

  .blog_date {
    bottom: -20px;
    left: 40px;
    padding: 13px 30px;
  }

  .blog_date_text {
    font-size: 30px;
  }
}

@media screen and (min-width: 992px) {
  .blogs_wrapper {
    width: 70%;
  }
}

@media screen and (max-width: 480px) {
  .blog_item {
    flex-direction: column !important; /* Mặc định là cột trên thiết bị nhỏ */
  }
}
