.blog_right_side_bar {
    flex: 0 0 auto;
    width: 33.3333333333%;
   

}

.blog_right_side_bar_wrapper {

    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 10px;
}

.side_bar_item_wrapper {
    display: flex;
    flex-direction: column;
    background: #fbf9ff;
    padding: 30px;
    margin-bottom: 30px;

}

.side_bar_input_container {
 
    position: relative;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: stretch;
    width: 100%;
}

.side_bar_input {
    font-size: 13px;
    color: #999999;
    padding: .375rem .75rem;
    padding-left: 20px;
    border-radius: 0;
    border-right: 0;
    height: 37px;
    font-size: 13px;
    padding-left: 20px;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid #f0e9ff;
    position: relative;
    flex: 1 1 auto;
    /* width: 1%; */
    min-width: 0;
}

.side_bar_btn {
    display: flex;
    align-items: center;
    background-color: #007A5C;
    border: 1px solid #f0e9ff;
    cursor: pointer;
    padding: 4px 20px ;
    width: fit-content;
    color: #fff;
}

.sider_bar_item_title {
    color: #2d2d2d;
    font-size: 20px;
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
}

.sider_bar_item_title::after {
    content: "";
    display: block;
    padding-top: 15px;
    border-bottom: 1px solid #f0e9ff;
}

.blog_catagory_wrapper {
    padding-top: 15px;
    border-bottom: 1px solid #f0e9ff;
    transition: all 0.3s ease 0s;
    padding-bottom: 12px;
}

.blog_catagory_wrapper:last-child {
    border-bottom: none;
}

.blog_catagory_content {
    font-size: 16px;
    line-height: 1.6;
    color: #5D646A;
    font-size: 16px;
    text-decoration: none;
    transition: .4s;
    font-weight: 400;
    line-height: 1.6;
    cursor: pointer;
}

.blog_catagory_content:hover {
    background: -webkit-linear-gradient(131deg, #007A5C 0%, #007A5C 99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    transition: .4s;
}

.recent_post_item {
    display: flex;
    gap: 20px ;
    margin-bottom: 20px;
}


.blog_catagory_content {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 6px;
    transition: all 0.3s linear;

}

.time {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 0px;
    color: #5D646A;
}

.instagram_feed_wrapper {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
}

.instagram_feed_img {
    width: 30%;
    height: auto;
 
}

/* .instagram_feed_img {
    width: 100%;
} */

.tag_cloud_wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 85%;

}

.tag_cloud_content {
    border: 1px solid #eeeeee;
    background: #fff;
    padding: 4px 20px;
    margin-bottom: 8px;
    margin-right: 6px;
    transition: all 0.3s ease 0s;
    color: #888888;
    font-size: 13px;

}

.tag_cloud_content:hover {
 background-color: #007A5C;
 color: #fff;

}

.sub_btn {
    background: #fff;
    color: #007A5C ;
    display: inline-block;
    padding: 18px 44px;
    font-family: "Chivo", sans-serif;
    font-size: 14px;
    font-weight: 400;
    transition: all .3s ease-out 0s;
    border: 1px solid #007A5C;
    letter-spacing: 1px;
    text-align: center;
  
    text-transform: uppercase;
    cursor: pointer;
}

.sub_btn:hover {
    background-color: #007A5C;
    color: #fff;
    border: 1px solid #007A5C;
}

.recent_post_img {
    width: 80px;
    height: 80px;
}

@media screen and (max-width: 991.98px) {

    .blog_right_side_bar {
        /* display: none; */
        width: 100%;
    }

    .blog_right_side_bar_wrapper {
        width: 100%;
        padding: 0;
    }
    
}

