.content_wrapper {
    width: 100%;
    padding: 100px 0px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
  .content_title {
    color: #32404D;
  
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 30px;
    text-transform: uppercase;
    
  }

  .content_description {
    color: #777777;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;  
  }


.essential_resources {
    background-color: #F2FBF9;
    flex-direction: row;
    padding: 0px;
    /* max-height: 700px; */
    overflow: hidden;
  }

  .essential_resources_main {
    width: 74%;
    padding: 20px 40px 20px 339px;
    display: flex;
    flex-direction: column;
  }

  .essential_resources_item {
    max-width: 710px;
    border: 1px solid rgba(93,100,106,0.2);
    padding: 30px 30px 10px 30px;
    transition: all 0.4s ease-out;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

  }

  .essential_resources_item:hover {
    border-color: transparent;
    background-color: rgba(0,122,92,0.08);
  }

  .essential_resources_item:hover .essential_resources_item_title {
    color: #007A5C;
  }

  .essential_resources_item:hover .essential_resources_item_link {
  background-color: #007A5C;
  border-color: transparent ;
  }

  .essential_resources_item:hover .arrow_icon{
    color: #fff;
  }

  .arrow_icon{
    
    color: #007A5C;
    z-index: 99;
  }

  .essential_resources_item_text_wrapper {
    max-width: 460px;
  }

  .essential_resources_item_title {
    color: #32404D;
    font-size: 20px;
    font-weight: 700;
    transition: all 0.4s ease-out;
    
  }

  .program_des {
    max-width: 600px;
  }

  .essential_resources_item_link {
    color: #007A5C;
    background-color: rgba(255,255,255,0.1);
    width: 60px;
    height: 60px;
    line-height: 65px;
    display: block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #007A5C;
    margin-top: -22px;

    transition: all 0.4s ease-out;
  }

.essential_resources_img {
  width: 100%;
  height: 100%;
}


@media screen and (max-width: 1799.98px) {
  
.essential_resources_main {
  padding: 20px 40px 20px 268px;
}

}

@media screen and (max-width: 1599.98px) {
  .essential_resources_main {
    padding: 20px 40px 20px 50px;
  }
}

@media screen and (max-width: 1199.98px) {
  
  .essential_resources {
    flex-direction: column;
    gap: 15px;
    max-height: none;
    align-items: flex-start;
  }
}

@media screen and (max-width: 767.98px) {

  
}

@media screen and (max-width: 800px) {
  
.essential_resources_item {
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.content_description {
  margin-bottom: 15px;
}

}

@media screen and (max-width: 575.98px) {
  
  .essential_resources_main {
    padding: 50px 30px;
    width: 85%;
  }
  
  }