.comprehensive_teaching_approach {
    /* padding: 100px 0px; */
    background-color: #fcf2eb;
    width: 100%;

  }

    .comprehensive_teaching_approach_content {
    display: flex;
    flex-wrap: nowrap;
   
    justify-content: flex-start;
   
  } 

  .comprehensive_teaching_approach_image {
    /* width: 50%;
    height: 100%; */
    display: flex;
  }

  .comprehensive_teaching_approach_image img {
    width: 100%;
    position: relative;
    object-fit: cover;
    transition: transform 0.3s ease, filter 0.3s ease; /* Thêm hiệu ứng chuyển đổi cho filter */
  }
  .comprehensive_teaching_approach_image:hover img {
    transform: scale(1.1);
    filter: brightness(0.6); /* Làm tối ảnh khi hover */
  }
  .comprehensive_teaching_approach_text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 130px;
  }

  .content_title {
    color: #32404D;
    font-size: 40px;
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 30px;
    text-transform: uppercase;
    
  }

  .content_description {
    color: #777777;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;  
    text-align: justify;
  }

  .first_description {
    margin-bottom: 30px;
  }

  .second_description {
    margin-bottom: 15px;
  }

  .Learn_more_text {
    width: fit-content;
    color: #007A5C;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
 
    transition: all 0.3s ease-in-out;
  }
  
  .Learn_more_text:hover {
    letter-spacing: 1px;
  }
  
  .Learn_more_text::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #007A5C;
    bottom: -7px;
  }

  .content_wrapper {
    width: 100%;
    padding: 100px 0px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media screen and (max-width: 1199.98px) {
    .content_title {
      font-size: 38px;
    }
  }

  @media screen and (max-width: 991px) {
    .comprehensive_teaching_approach_content {
      flex-direction: column;
      gap: 50px;
      align-items: center;
    }

    .comprehensive_teaching_approach_image {
      width: 100%
    }

    .comprehensive_teaching_approach_text {
      width: 75%;
      margin-left: 8.3%;
      text-align: left;
    }
  }

  @media screen and (max-width: 767.98px) {
    .content_title {
      font-size: 31px;
    }
    
    .comprehensive_teaching_approach_text {
      width: 91.67%;
    }
  }

  @media screen and (max-width: 575.98px) {
    .content_title {
      font-size: 24px;
    }

    .comprehensive_teaching_approach_content {
      gap: 35px;
      width: 100%;
    }

    .comprehensive_teaching_approach_text {
      width: 100%;
      margin-left: 0;
    }
  }

  @media screen and (max-width: 575.98px) {
    
    .fullWidthSmallScreen {
      width: 100%;
    }

  }