.out_partner {
  width: 100%;
  padding: 100px 0;
  background-color: #f8f9fa;
}

.out_partner_title {
  text-align: center;
  color: #32404D;
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 36px;
}

.out_partner_desc {
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  color: #6c757d;
  margin-bottom: 50px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.out_partner_marquee { /* Loại bỏ style không cần thiết */
  /* display: flex; */
  /* flex-direction: row; */
  /* overflow: hidden; */ 
}

.out_partner_list {
  display: flex; /* Sử dụng flex để căn giữa các item theo chiều dọc */
  align-items: center; /* Căn giữa theo chiều dọc */
}

.out_partner_list_inner { /* Loại bỏ style không cần thiết */
  /* display: flex; */
  /* flex-direction: row; */
  /* width: 200%; */ 
}

.out_partner_item {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin-right: 20px; 
}

.out_partner_item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.out_partner_item img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

@media (max-width: 992px) { /* Màn hình lớn */
  .out_partner_list {
    gap: 20px; /* Giảm khoảng cách giữa các đối tác */
  }

  .out_partner_item {
    width: 120px; /* Giảm kích thước đối tác */
    height: 120px;
  }
}

@media (max-width: 768px) { /* Màn hình trung bình */
  .out_partner_title {
    font-size: 28px;
  }

  .out_partner_desc {
    font-size: 16px;
  }

  .out_partner_list {
    gap: 15px; /* Giảm khoảng cách giữa các đối tác */
  }

  .out_partner_item {
    width: 100px; /* Giảm kích thước đối tác */
    height: 100px;
  }
}

@media (max-width: 576px) { /* Màn hình nhỏ */
  .out_partner_title {
    font-size: 24px;
  }

  .out_partner_desc {
    font-size: 14px;
  }

  .out_partner_list {
    gap: 10px; /* Giảm khoảng cách giữa các đối tác */
  }

  .out_partner_item {
    width: 80px; /* Giảm kích thước đối tác */
    height: 80px;
  }
}