.contact_content_container {
    width: 100%;
    padding: 130px 0px 100px;
    display: flex;
    justify-content: center ;
}

.contact_content_wrapper {
    display: flex;
    width: 75%;
    flex-direction: column;
    padding-left: 10px;
}

.contact_content_title {
    color: #32404D;
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 20px;
}

.contact_content {
    display: flex;
}


    .web_contact_info {
        width: 25%;
        margin-left: 8.33333%;
        padding: 0px 10px;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .web_contact_info_item {
        display: flex;
        gap: 15px;
        margin-bottom: 25px;
    }
    
    .web_contact_info_item_title {
        color: #2a2a2a;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.2;
    }

    .web_contact_info_item_description {
        color: #8a8a8a;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.6;
    }

    @media screen and (max-width: 991.98px) {

        .contact_content_container {
            padding-top: 50px;
        }

        .contact_content {
            flex-direction: column;
            gap: 30px;
        }

        .web_contact_info {
            padding: 0;
            margin: 0;
            width: 100%;
        }
        
    }