.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
  }
  
  .header {
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    padding: 20px;
    text-align: center;
  }
  
  .title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0;
  }
  
  .content {
    padding: 20px;
  }
  
  .section {
    margin-bottom: 20px;
  }
  
  .subtitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .applyButtonContainer {
    text-align: center;
  }
  
  .applyButton {
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
  }
  
  .applyButton:hover {
    background-color: #0069d9;
  }