body {
  /* padding: 20px 20px 60px;
  max-width: 680px;
  margin: 0 auto; */
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  margin: 0 auto;

  font-family: var(--font-chivo);
  
}

/* === BASE HEADING === */

.container {
  width: 100%;
  padding: 0 0.75rem;
  margin: 0 auto;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}

.menu_mobile {
  width: fit-content;
  display: none;
  flex-direction: column;
  margin-left: 20px;
}

.menu_mobile_slickNav {
  background-color: #34a853;
  height: 3px;
  margin: 2.5px 0;
  transition: all 0.3s ease 0s;
  width: 30px;
  position: relative;
  display: block;
}

.header {
  position: relative;
}

.menu_mobile_wrapper {
  position: relative;
  width: 100%;
}

.header_menu_mobile {
  background: #fff;
  height: fit-content;
  position: absolute;
  left: 0;
  padding: 19px;
  width: 96%;
  border-bottom: 1px solid #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header_menu_mobile_item {
  width: 100%;
  font-size: 15px;
  padding: 7px 10px;
  font-weight: 400;
  color: #000;
  text-transform: capitalize;
  margin: 2px 5px;
  text-decoration: none;
}

.header_menu_mobile_item_text {
  font-weight: 400;
  text-transform: capitalize;
  text-decoration: none;
  color: #000;
  font-size: 15px;
}



h1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

h1 span {
  display: block;
  font-size: 0.5em;
  line-height: 1.3;
}
h1 em {
  font-style: normal;
  font-weight: 600;
}

.centerItemBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerCollapse {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100000;
  background-color: #fff;
}

.img {
  width: 100%;
  height: auto;
}

.title {
  font-size: 40px;
}

input:focus {
  outline: none;
}

@media screen and (max-width: 575.98px) {
  .container {
    padding: 0;
  }

  .row {
    margin-left: 0;
  }

  .wrapper {
    padding: 0px 10px;
  }
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
} 

@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media screen and (max-width: 991.98px) {
  .menu_mobile {
    display: flex;
  }
}

@media screen and (max-width: 1199.98px) {
  .title {
    font-size: 38px;
  }
}

@media screen and (max-width: 767.98px) {
  .title {
    font-size: 31px;
  }
}

@media screen and (max-width: 575.98px) {
  .title {
    font-size: 24px;
  }

  .header_menu_mobile {
    max-width: 92%;
  }
}

@media  screen and (max-width: 400px) {
  
  .header_menu_mobile {
    max-width: 88%;
  }

}
