.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .heading {
    position: relative;
    display: flex;
    align-items: center;
    height: 750px;
    width: 100%;
    background-image: url('/images/header_full.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .heading::before {
    position: absolute;
    content: "";
    background-color: rgba(50, 64, 77, 0.3);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    background-repeat: no-repeat;
  }
 
  .content_wrapper {
    width: 100%;

  }

  .content {
    display: flex;
    max-width: 70%;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 1;
    /* margin-left: 15%; */
  }

  .heading_caption {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 400;
    color: #fff;
    /* margin-bottom: 20px; */
    display: inline-block;
  }

  .heading_caption_2 {
    font-family:  "Chivo", sans-serif;
    font-size: 54px;
    font-weight: 900;
    margin: 20px 0;
  }

  .heading_caption_3 {
    line-height: 1.5;
    font-size: 20px;
    margin-bottom: 41px;
    max-width: 600px;
  }

  .heading_button {
    background-color: #007A5C;
    width: fit-content;
    color: #fff;
    font-size: 18px;
    border-radius: 8px;
    font-weight: 400;
    text-transform: capitalize;
    border:1px solid transparent;
    display: inline-block;
    padding: 20px 36px;
    margin-top: -10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .heading_button:hover {
    background-color: transparent;
    border-color: #fff;

  }

  .comprehensive_teaching_approach {
    padding: 100px 0px;
    background-color: #fcf2eb;
    width: 100%;

  }

    .comprehensive_teaching_approach_content {
    display: flex;
    max-width: 70%;
   
    justify-content: flex-start;
    margin-left: 15%;
  } 

  .comprehensive_teaching_approach_image {
    width: 50%;
    height: 100%;
  }

  .comprehensive_teaching_approach_text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 130px;
  }

  .content_title {
    color: #32404D;
    font-size: 40px;
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 30px;
    text-transform: uppercase;
    
  }

  .content_description {
    color: #777777;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;  
  }

  .first_description {
    margin-bottom: 30px;
  }

  .second_description {
    margin-bottom: 15px;
  }

  .Learn_more_text {
    width: fit-content;
    color: #007A5C;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
 
    transition: all 0.3s ease-in-out;
  }
  
  .Learn_more_text:hover {
    letter-spacing: 1px;
  }
  
  .Learn_more_text::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #007A5C;
    bottom: -7px;
  }

  .content_wrapper {
    width: 100%;
    padding: 100px 0px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .programs_container {
    display: flex;
    width: 100%;
    justify-content: center;
    gap:15px;
    flex-wrap: nowrap;
  }

  .programs_description {
    margin-bottom: 40px;
    max-width: 805px;
    text-align: center;
  }

  .programs {
    display: flex;
    flex-direction: column;
    max-width: 620px;
    border: 1px solid #D9E2E9;
    padding: 15px;
    transition: all 0.4s ease-in-out;

  }

  .programs:hover {
    border: 1px solid #007A5C;
  }

  .programs:hover .programs_img {
    transform: scale(1.05);
  }

  .programs:hover .programs_title {
    color: #007A5C;
  }

  .programs_img_wrapper {
    overflow: hidden;
    width: 100%;
    max-height: 260px;
  }

  .programs_img {
    width: 100%;   
    object-fit: cover;
    transform: scale(1.0);
    transition: all 0.4s ease-in-out;

  }

  .programs_title {
    color: #32404D;
    font-size: 26px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 10px;
    transition: all 0.4s ease-in-out;
  }

  .programs_learn_more {
    margin-bottom: 30px;
    transition: all 0.4s ease-in-out;
  }

  .essential_resources {
    background-color: #F2FBF9;
    flex-direction: row;
    padding: 0px;
    max-height: 700px;
    overflow: hidden;
  }

  .essential_resources_main {
    width: 74%;
    padding: 20px 40px 20px 339px;
    display: flex;
    flex-direction: column;
  }

  .essential_resources_item {
    max-width: 710px;
    border: 1px solid rgba(93,100,106,0.2);
    padding: 30px 30px 10px 30px;
    transition: all 0.4s ease-out;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

  }

  .essential_resources_item:hover {
    border-color: transparent;
    background-color: rgba(0,122,92,0.08);
  }

  .essential_resources_item:hover .essential_resources_item_title {
    color: #007A5C;
  }

  .essential_resources_item:hover .essential_resources_item_link {
  background-color: #007A5C;
  border-color: transparent ;
  }


  .essential_resources_item_text_wrapper {
    max-width: 460px;
  }

  .essential_resources_item_title {
    color: #32404D;
    font-size: 20px;
    font-weight: 700;
    transition: all 0.4s ease-out;
    
  }

  .program_des {
    max-width: 600px;
  }

  .essential_resources_item_link {
    color: #007A5C;
    background-color: rgba(255,255,255,0.1);
    width: 60px;
    height: 60px;
    line-height: 65px;
    display: block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #007A5C;
    margin-top: -22px;

    transition: all 0.4s ease-out;
  }

.essential_resources_img {
  width: 100%;
  height: 100%;
}

.top_stories {
  align-items: flex-start;

}

.top_stories_wrapper{
  padding: 0px 50px;
}

.top_stories_content {
  display: flex;
  gap: 15px;
  align-items: flex-start;
}

.top_stories_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.3333333%;
}

.top_stories_item_img {
  width: 100%;
}

.top_stories_item_title {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: none;
  text-align: center;
  max-width: 500px;
}

.our_partner {
  border-top: 1px solid #dee2e6;
  padding-bottom: 0px;
}

.our_partner_heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 100px;
}

.partner_des {
  max-width: 800px;
  text-align: center;

}

.our_partner_main {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #007A5C;
  }

  .our_partner_img_wrapper {
    width: 52%;
    height: 628px;
    background-image: url('/images/trusted_by_students.webp');
    background-color: #FFF6EE;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

  }

  .our_partner_text_wrapper {
    width: 35%;
    padding: 20px 40px 20px 80px;
    display: flex;
    flex-direction: column;
   
    
  }

  .our_partner_text_title {
    color: #FFF;
    
  }

  .our_partner_text_description {
    color: #C9D6CB;
    font-size: 20px;
    margin-bottom: 30px;
  }

  .join_now_text {
    width: fit-content;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
 
    transition: all 0.3s ease-in-out;
  }
  
  .join_now_text:hover {
    letter-spacing: 1px;
  }
  
  .join_now_text::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #fff;
    bottom: -7px;
  }

@media screen and (max-width: 991.98px) {
  
  .heading_caption_2 {
    font-size: 50px;
  }

  .content {
    max-width: 95%;
  }
}

@media screen and (max-width: 767.98px) {
  
  .heading_caption_2 {
    font-size: 44px;
  }

  .content {
    max-width: 100%;
  }
}


@media screen and (max-width: 767.98px) {
  
  .heading_caption_2 {
    font-size: 44px;
  }
}


@media screen and (max-width: 575.98px) {
  
  .heading_caption_2 {
    font-size: 25px;
  }

  .content {
    padding-left: 10px;
  }
}