.logo {
  width: auto;
  height: 85px;
}
.wrapper_logo{
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}
.wrapper_logo_text{
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-left: 10px;
  color: #fff;
}
.footer_container {
  /* width: 100%; */
  background-color: #32404d;
  min-height: 503px;
}

.footer_content {
  /* width: 100%; */
  padding-top: 100px;
  padding-bottom: 50px;
}

.footer_content_wrapper {
  /* width: 100%; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* padding-right: 15%;
    padding-left: 15%; */
  /* max-width: 1320px; */
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}
    
.logo_footer_wrapper {
  /* flex: 2; */
  flex: 0 auto;
  width: 14.6666666667%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  margin-top: var(--bs-gutter-y);
}

.footer_item_wrapper {
  flex: 0 0 auto;
  width: 14.6666666667%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  margin-top: var(--bs-gutter-y);
}

.footer_item_title {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 30px;
}

.footer_item_body {
  display: flex;
  flex-direction: column;
}

.footer_item_link {
  color: #a7aeb4;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: underline transparent;
  margin-bottom: 15px;
}

.footer_item_link:hover {
  color: #007a5c;
  text-decoration-color: #007a5c;
}

.footer_news_letter {
  flex: 0 auto;
  width: 30.3333333333%;
  display: flex;
  flex-direction: column;
}

.footer_news_letter_input_wrapper {
  /* width: 100%; */
  height: 60px;
  background-color: #fff;
  border-radius: 0px;
  border: 0;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  padding-right: 0px;
  position: relative;
}
.footer_news_letter_input {
  height: 40px;
  /* width: 100%; */
  color: #5c6168;
  border: none;
  font-size: 16px;
}

.footer_news_letter_input:focus {
  outline: none;
}

.footer_news_letter_button {
  width: 18px;
  height: 18px;
  position: absolute;
  padding: 21px 30px;
  background-color: #007a5c;
  cursor: pointer;
  top: 0;
  right: 0;
}

.footer_copyright {
  /* width: 100%; */
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  padding-right: 15%;
  padding-left: 15%;
  padding-top: 39px;
  /* max-width: 1320px; */
}

.footer_copyright_text {
  color: #a7aeb4;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  margin-bottom: 15px;
  text-align: center;
}

@media screen and (max-width: 991.98px) {
  .logo_footer_wrapper {
    width: 25%;
    margin-bottom: 50px;
  }

  .footer_item_wrapper {
    width: 25%;
    margin-bottom: 50px;
  }

  .footer_news_letter {
    width: 66.6666666667%;
  }
}

@media screen and (max-width: 767.98px) {
  .footer_item_wrapper {
    width: 45%;
    margin-bottom: 50px;
  }
  .footer_news_letter {
    width: 83.3333333333%;
  }

  .logo_footer_wrapper {
    width: 45%;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 575.98px) {
  .footer_item_wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
    /* padding-left: 10px; */
    margin-bottom: 50px;
  }

  .footer_item {
    padding-left: 10px;
  }

  .logo_footer_wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
    padding-left: 10px;
    margin-bottom: 50px;
  }

  .footer_news_letter{
    padding: 0;
    margin: 0;
    padding-left: 10px;
  }

  .footer_content_wrapper {
    width: 100%;
    margin-left: 0;
  }
}