/* TrainingProgram.module.css */

.training_program {
    padding: 80px 0;
  }
  
  .training_program_title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
    color: #32404d;
    font-weight: 900;
    line-height: 1.2;
    text-transform: uppercase;
  }
  
  .training_program_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid */
    gap: 20px;
    padding: 0;
    margin: 0;
  }
  
  .training_program_item {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    list-style: none;
  }
  
  .training_program_item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .training_program_item_title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .training_program_item_desc {
    font-size: 16px;
    line-height: 1.6;
  }
  
  .training_program_item_desc ul {
    list-style: disc;
    padding-left: 20px;
  }
  
  @media (max-width: 768px) {
    .training_program_title {
      font-size: 28px;
    }
  
    .training_program_item_title {
      font-size: 20px;
    }
  
    .training_program_item_desc {
      font-size: 14px;
    }
  }