.blog_details_container {

}

.blog_details_content {
  width: 100%;
  flex-wrap: nowrap;
  gap: 1.5rem;
}

.blog_details_img {
  width: 100%;
  height: auto;
  margin-bottom: 26px;
}

.blog_details_content_wrapper {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.blog_details_title {
  color: #2d2d2d;
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 600;
  line-height: 1.2;
}

.blog_info_link {
  display: flex;
  width: fit-content;
  height: fit-content;
  align-items: center;
}

.link_text {
  color: #999999;
  font-size: 14px;
  margin-right: 5px;
  font-weight: normal;
  line-height: 1.5;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.divider {
  content: "";
  width: 0px;
  height: 12px;
  /* height: 100%; */
  border: 1px solid #999999;
  margin: 0 10px;
}

.blog_details_text {
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  color: #5d646a;
}

.quote_wrapper {
  line-height: 1.733;
  color: #888888;
  font-style: italic;
  margin-top: 25px;
  margin-bottom: 25px;
  background: rgba(130, 139, 178, 0.1);
  padding: 30px;
}

.quote_text {
  padding: 25px 25px 25px 30px;
  background: #fff;
  border-left: 2px solid;
}

.post_nav_wrapper {
  padding-top: 15px;
  border-top: 1px solid #f0e9ff;
}

.like_info {
  color: #5d646a;
  font-weight: 400;
  line-height: 1.6;
  font-size: 14px;
}

.social_icon {
  display: flex;
  gap: 15px;
}

.nav_area {
  border-bottom: 1px solid #eee;
  padding-bottom: 30px;
  margin-top: 55px;
  display: flex;
}

.nav_box {
  width: 50%;
  display: flex;
  gap: 20px;
}

.thumpnail {
  width: 60px;
  height: 60px;
  background-image: url("/images/preview.jpg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon_arrow {
  color: #fff;
  display: none;
}

.icon_arrow:hover {
  color: #007a5c;
}

.nav_box:hover .icon_arrow {
  display: block;
}

.nav_text {
  margin: 0;
  font-family: "Chivo", sans-serif;
  color: #5d646a;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}

.nav_title {
  margin: 0;
  color: #2d2d2d;
  font-size: 18px;
  line-height: 25px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.nav_title:hover {
  color: #007a5c;
}

.thumpnail_right {
  background-image: url("/images/next.jpg.webp");
}

.blog_author_area {
  padding: 40px 30px;
  background: #fbf9ff;
  margin-top: 50px;
}

.blog_author_img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-right: 30px;
}

.blog_name {
  font-size: 16px;
  color: #32404d;
  margin-top: 0px;
  font-style: normal;
  font-weight: 500;
}

.blog_name:hover {
  background: -webkit-linear-gradient(131deg, #007a5c 0%, #007a5c 99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  transition: 0.4s;
}

.blog_cmt {
  color: #5d646a;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
}

.cmt_area {
  background: transparent;
  border-top: 1px solid #eee;
  padding: 45px 0;
  margin-top: 50px;
}

.cmt_title {
  color: #32404d;
  margin-top: 0px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 35px;
  font-size: 18px;
}

.cmt_item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.cmt_img {
  margin-right: 20px;
  width: 70px;
  border-radius: 50%;
}

.time_cmt {
  font-size: 14px;
  color: #999999;
  margin-bottom: 0;
  margin-left: 20px;
  font-weight: 400;
  line-height: 1.6;
}

.replay_btn {
  background-color: transparent;
  padding: 5px 18px;
  cursor: pointer;
}

.replay_btn:hover .replay_text {
  color: #007a5c;
}

.replay_text {
  color: #888888;
  font-size: 14px;
  display: block;
  font-weight: 400;
}

.cmt_form_area {
  border-top: 1px solid #eee;
  padding-top: 45px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.like_social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image_list {
  display: flex;
  flex-wrap: wrap; /* Cho phép hình ảnh xuống dòng khi hết chỗ */
  gap: 20px; /* Khoảng cách giữa các hình ảnh */
  margin-bottom: 30px; /* Khoảng cách dưới danh sách hình ảnh */
}

.image_item {
  /* Thêm các style cho mỗi hình ảnh nếu cần, ví dụ: border, shadow, ... */
  margin: 0 5px;
}
.image_item img{
  object-fit: cover;
}

@media screen and (max-width: 991px) {
  .blog_details_content {
    display: flex;
    flex-direction: column;
  }

  .blog_details_content_wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 767.98px) {
  .nav_area {
    flex-direction: column;
  }

  .nav_box {
    width: 100%;
  }
  .blog_author_img {
    width: 45px;
    height: 45px;
  }
}

@media screen and (max-width: 575.98px) {
  
  .like_social {
    flex-direction: column;
  }
}