.form {
  width: 60%;
}

.form_text_area_container {
  width: 100%;
  display: flex;
}

.form_textarea {
  width: 100%;
  border: 1px solid #e5e6e9;
  padding: 0.375rem 0.75rem;
  padding-left: 18px;
  font-size: 13px;
  background-color: transparent;
  height: 200px;
  margin-bottom: 30px;
  resize: none;
}

.form_textarea:focus {
  outline: none;
}

.form_input_container {
  display: flex;
  margin-bottom: 30px;
  width: 100%;
  height: fit-content;
  gap: 30px;
}

.form_input_half_width {
  flex: 1;
  border: 1px solid #e5e6e9;
  height: 48px;
  padding: 0.375rem 0.75rem;
  padding-left: 18px;
  font-size: 13px;
  background-color: transparent;
}

.form_input {
  width: 100%;
  border: 1px solid #e5e6e9;
  height: 48px;
  padding: 0.375rem 0.75rem;
  padding-left: 18px;
  font-size: 13px;
  background-color: transparent;
}

.form_button_container {
  background-color: #fff;

  display: inline-block;
  padding: 18px 44px;
  font-size: 14px;
  color: #007a5c;
  border: 1px solid #007a5c;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  width: fit-content;
  margin-top: 30px;
  transition: all 0.2s ease-in-out;
}

.form_button_container:hover {
  background-color: #007a5c;
  color: #fff;
}

@media screen and (max-width: 767.98px) {
  

.form_double_input {
  flex-direction: column;
}

.form_input_half_width {
  flex: none  ;
}

}