.back_to_top {
    background: #007A5C;
    height: 50px;
    width: 50px;
    right: 31px;
    bottom: 18px;
    position: fixed;
    color: #fff;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    line-height: 48px;
    border: 2px solid transparent;
    box-shadow: 0 0 10px 3px rgba(108, 98, 98, 0.2);
    display: block;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    z-index: 99;
}