.content_wrapper {
  width: 100%;
  padding: 100px 0px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.programs_container {
  display: flex;
  width: 100%;
  justify-content: center;
  /* flex-wrap: wrap; */
  gap: 20px;
  max-width: 90%;
}

.programs_description {
  margin-bottom: 40px;
  max-width: 805px;
  text-align: center;
}

.programs {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #d9e2e9;
  padding: 15px;
  transition: all 0.4s ease-in-out;
}

.programs:hover {
  border: 1px solid #007a5c;
}

.programs:hover .programs_img {
  transform: scale(1.05);
}

.programs:hover .programs_title {
  color: #007a5c;
}

.programs_img_wrapper {
  overflow: hidden;
  width: 100%;
  max-height: 260px;
}

.programs_img {
  width: 100%;
  height: 100%;
  min-height: 260px;
  object-fit: cover;
  transform: scale(1);
  transition: all 0.4s ease-in-out;
}

.programs_title {
  color: #32404d;
  font-size: 26px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 10px;
  transition: all 0.4s ease-in-out;
}

.programs_learn_more {
  margin-bottom: 30px;
  transition: all 0.4s ease-in-out;
}

.content_description {
  color: #777777;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

.Learn_more_text {
  width: fit-content;
  color: #007a5c;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  position: relative;

  transition: all 0.3s ease-in-out;
}

.Learn_more_text:hover {
  letter-spacing: 1px;
}

.Learn_more_text::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #007a5c;
  bottom: -7px;
}

.content_title {
  color: #32404d;

  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 30px;
  text-transform: uppercase;
}

@media (max-width: 1024px and min-width: 768px) {
  .programs_container {
    flex-wrap: wrap;
  }

  .programs {
    width: calc(50% - 20px);
    box-sizing: border-box;
  }

  @media (max-width: 768px) {
    .programs {
      width: calc(33.33% - 20px);
    }
  }
}

@media (max-width: 480px) {
  .programs_container {
    flex-direction: column; /* Thay đổi hướng thành chiều dọc */
  }

  .programs {
    width: 100%;
    padding: 0px;
    text-align: center;
    align-items: center;
  }

  .programs_title {
    font-size: 20px;
  }

  .content_description {
    font-size: 16px;
    width: 100%;
    text-align: center;
  }
}
